VCampus/App_WebReferences/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://VCampus.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://VCampus.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://VCampus.org/">
      <s:element name="GetUserInfoByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoByUsernameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllUserInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserInfoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPasswordByUsernameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserInfoByUsernameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserInfoByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoByUsername" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPasswordByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetPasswordByUsername" />
  </wsdl:message>
  <wsdl:message name="GetPasswordByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetPasswordByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserName" />
  </wsdl:message>
  <wsdl:message name="GetAllUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUserInfo" />
  </wsdl:message>
  <wsdl:message name="InsertUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoByUsername" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetUserInfoByUsername">
      <wsdl:input message="tns:GetUserInfoByUsernameSoapIn" />
      <wsdl:output message="tns:GetUserInfoByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <wsdl:input message="tns:GetAllUserInfoSoapIn" />
      <wsdl:output message="tns:GetAllUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordByUsername">
      <wsdl:input message="tns:GetPasswordByUsernameSoapIn" />
      <wsdl:output message="tns:GetPasswordByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserName">
      <wsdl:input message="tns:GetAllUserNameSoapIn" />
      <wsdl:output message="tns:GetAllUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserInfo">
      <wsdl:input message="tns:InsertUserInfoSoapIn" />
      <wsdl:output message="tns:InsertUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <wsdl:input message="tns:DeleteUserInfoSoapIn" />
      <wsdl:output message="tns:DeleteUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUsername">
      <wsdl:input message="tns:UpdateUserInfoByUsernameSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoByUsernameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfoByUsername">
      <soap:operation soapAction="http://VCampus.org/GetUserInfoByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <soap:operation soapAction="http://VCampus.org/GetAllUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordByUsername">
      <soap:operation soapAction="http://VCampus.org/GetPasswordByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserName">
      <soap:operation soapAction="http://VCampus.org/GetAllUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserInfo">
      <soap:operation soapAction="http://VCampus.org/InsertUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <soap:operation soapAction="http://VCampus.org/DeleteUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUsername">
      <soap:operation soapAction="http://VCampus.org/UpdateUserInfoByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfoByUsername">
      <soap12:operation soapAction="http://VCampus.org/GetUserInfoByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <soap12:operation soapAction="http://VCampus.org/GetAllUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordByUsername">
      <soap12:operation soapAction="http://VCampus.org/GetPasswordByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserName">
      <soap12:operation soapAction="http://VCampus.org/GetAllUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserInfo">
      <soap12:operation soapAction="http://VCampus.org/InsertUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <soap12:operation soapAction="http://VCampus.org/DeleteUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUsername">
      <soap12:operation soapAction="http://VCampus.org/UpdateUserInfoByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:8088/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:8088/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>